

.forms {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.sign-in-header {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  line-height: 2;
}

.sign-up-header {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  line-height: 2;
  margin-top: 20px;
}


.or {
  font-family: 'Playfair Display', serif;
  font-size: 27px;
  color: black;

}

.sign-in-button {
  color: white;
  font-family: SackersGothicStd-Heavy, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  padding: 10px 30px;
  background-color: #2f302f;
  border: 1px solid transparent;
  border-radius: 4px;
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 40px;
  display: inline-block;
}


.sign-in-button:hover {
  color: #f2e4df;
  opacity: 0.5;
}


.log-out-button {
  color: #2f302f;
  font-family: SackersGothicStd-Heavy, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  padding: 10px 30px;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 47px;
  display: inline-block;
  max-width: 100%;

}


.log-out-button:hover {
  color: white;
  font-family: SackersGothicStd-Heavy, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  padding: 10px 30px;
  background-color: #2f302f;
  border: 1px solid transparent;
  border-radius: 4px;
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 40px;
  display: inline-block;
}

.sign-in-div-for-background-image {
  background-image: url("../../Assets/feature-brush.png");
  background-repeat: no-repeat;
  background-size: 580px;
  background-position: center
}

.sign-up-errors {
  color: red;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0.1em;
}