
.wishlist-hotel-image {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: grey;
}

.wishlist-hotel-image:hover {
  color: black
}

.wishlist-hotel-checklist {
  max-width: "100%";
  padding-top: 60px;
}

.wishlist-hotel-note {
  padding-top: 40px;
  padding-right: 40px;
}

.note {
  padding-top: 50px;
  padding-bottom: 40px
}

.remove-from-wishlist-button:hover {
  color: black;
  background-color: #f2e4df;
}

.remove-from-wishlist-button {
  margin-top: 100px;
  margin-bottom: 74px;
  margin-right: 70px;
  margin-left: 15px;
  color: white;
  font-family: SackersGothicStd-Heavy, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 2;
  padding: 10px 30px;
  background-color: grey;
  border: 1px solid;
  border-radius: 4px;
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  display: inline-block;
}

.blade {
  border-style: dotted;
  border-color: white white #e7e7e7 white;
}

.back-to-hotel-list {
    color: #2f302f;
    font-family: SackersGothicStd-Heavy, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    padding: 10px 30px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    letter-spacing: 0.15em;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 35px;
    display: inline-block;
    max-width: 100%;
}


.export-wanderlist-button {
  color: #2f302f;
  font-family: SackersGothicStd-Heavy, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  padding: 10px 30px;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 47px;
  display: inline-block;
  max-width: 100%;
}

.wrapper {
  text-align: center
}

.export-wanderlist-button:hover {
  background-color: black;
  color: white;
}
.back-to-hotel-list:hover {
  background-color: black;
  color: white;
}

.wish-list-instructions {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  line-height: 1.1;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 20px;
  line-height: 1.5;
}
