
.hotel-collection {
  text-align: center;
  overflow-y: scroll;
  margin-bottom: 60px;
}

.hotel-list-image-heading {
  font-family: 'Playfair Display', serif !important;
  font-size: 26px;
  line-height: 1.1;
  color: black;
  margin-top: 40px;
  margin-bottom: 40px !important;
  padding-bottom: 60px;
}

.hotel-list-image-heading:hover {
  color: grey;
}

.hotel-list-image-city-and-country {
  font-family: SackersGothicStd-Heavy, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 5;
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
}

.hotel-list-add-to-wishlist-buttons {
  display: block;
  width: 250px;
  margin: 2em auto;
  color: white;
  font-family: SackersGothicStd-Heavy, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  padding: 10px 30px;
  background-color: #2f302f;
  border: 1px solid transparent;
  border-radius: 4px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-size: 12px;
  animation-duration: 1s;
}


.hotel-list-add-to-wishlist-buttons:hover {
  color: #f2e4df;
  opacity: 0.5;
}
/* 
.animated-bounce {
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
} */

.pop-up-button {
  color: white;
  font-family: SackersGothicStd-Heavy, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  padding: 10px 30px;
  background-color: #f2e4df;
  border: 1px solid transparent;
  border-radius: 4px;
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 40px;
  display: inline-block;
}
.intro-header {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  line-height: 1.1;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 20px;
}

.intro-body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: grey;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
  letter-spacing: 1px;
  margin-bottom: 57px;
  line-height: 1.2
}

.img {
  max-width: 100%;
  margin: 10em 0 0 0;
}

.hotel-description {
  position: relative;
  height: 12em;
}

.hotel-description-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {
    .img {
      width: 600px;
    }
  }

@media screen and (max-width: 480px) {
    .img {
         width: 400px;
    }
}

